* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    color: #613469;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #613469;
    padding: 2rem 10rem;
  }
  
  .company-logo {
    height: 1.3rem;
  }
  
  .navbar nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.5rem;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links li:last-child {
    margin-right: 0;
  }
  
  .navbar-links li a {
    color: #613469;
    text-decoration: none;
    font-weight: 550;
  }
  
  #invite-btn {
    background-color: #738ADB;
    border: 3px solid #738ADB;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
#invite-btn:hover {
    color: #738ADB;
    background-color: #fff;
}


  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 7.5rem;
  flex-direction: row;
  gap: 8rem;
}

.left-side {
  width: calc(50% - 153px);
}

.right-side {
  width: 277px;
}

.left-side h1 {
  font-size: 2rem; 
  margin-bottom: 15px;
}

.left-side p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.buttons {
  padding-top: 25px;
  display: flex;
  list-style: none;
}

.buttons li {
  margin-bottom: 0;
}

.buttons li:not(:last-child) {
  margin-right: 30px;
}

.buttons a {
  display: inline-block;
  padding: 11px 20px;
  text-decoration: none;
  border-radius: 5px;
  width: 9rem;
  text-align: center;
  font-weight: 500;
}

.join-btn {
  background-color: #EF6B95;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.join-btn:hover {
  box-shadow: 0 0 5px 2px #EF6B95;
}

.invite-btn {
  background-color: #8F5F95;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.invite-btn:hover {
  box-shadow: 0 0 5px 2px #8F5F95;
}

.count-container {
  display: flex;
  margin-top: 2.5rem;
  gap: 3rem;
}

.server-count, .user-count, .uptime-count {
  text-align: center;
}

.server-count h2, .user-count h2, .uptime-count h2 {
  font-size: 24px;
  color: #EF6B95;
  margin-bottom: 5px;
}

.server-count p, .user-count p, .uptime-count p{
  font-size: 18px;
  font-weight: 500;
  color: #EF6B95;
  margin-bottom: 0;
}

.right-side img {
  width: 120%;
  height: auto;
}

.feature-section {
  text-align: center;
  margin-top: 100px; 
}

.feature {
  font-size: 2rem;
  color: #613469;
  margin-bottom: 4.68rem;
}

.feature-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px; 
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feature-item .img-left {
  width: 31rem;
  height: auto;
  margin-left: 11.25rem;
}

.feature-item .img-right {
  width: 31rem;
  height: auto;
  margin-right: 11.25rem;
}

.feature-item .text {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}

.right-text {
  flex: 1;
  text-align: right;
  padding: 0 20px;
}

.feature-item h2 {
  font-size: 1.5rem;
  color: #613469;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 1.1rem;
  color: #613469;
}

.footer {
  height: 168px;
  margin-top: 6.25rem;
  background-color: #D9D9D9;
  color: #613469;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.625rem;
}

/* Style for the hyperlink */
.footer a {
  color: #EF6B95;
  text-decoration: none;
  font-weight: bold;
}

/* Hamburger menu icon styles */


.bar {
  width: 25px;
  height: 3px;
  background-color: #613469;
  margin: 5px 0;
  transition: 0.4s;
}

.menu-icon {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  background-color: #fff; /* Set background color for the container */
  width: 30px; /* Adjust container width as needed */
  padding: 5px; /* Add padding around the bars */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Adjust the padding for the navbar links to prevent overlap with the menu icon */
.navbar-links {
  padding-left: 60px;
}

/* Show the navbar links when the .show class is applied */
.navbar-links.show {
  left: 0;
  transition: left 0.3s ease;
}

@media screen and (max-width: 1200px) {
  * {
    box-sizing: content-box;
  }

  .bar {
    width: 37.5px;
    height: 4.5px;
    background-color: #613469;
    margin: 7.5px 0;
    transition: 0.4s;
  }
  body {
    font-size: 16px;
    color: #613469;
    background-color: white;
}

  .navbar {
    padding-left: 2.5rem;
  }
  .menu-icon {
    display: block;
    margin-right: auto;
  }

  .company-logo {
    display: none;
  }

  .menu-icon {
    display: block;
}

  .navbar-links {
    display: none;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: #fff;
    height: 100%;
    width: 35%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    padding-left: 0;
  }

  /* Styles for navbar links */
  .navbar-links a {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .navbar-links.show li {
    margin: 0;
  }
  .navbar-links.show {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

  /* Rotate bar elements for animation */
  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-10.5px, 10px);
}

  .change .bar:nth-child(2) {
      opacity: 0;
  }

  .change .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6.5px, -7px);
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem;
}

  .count-container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .left-side {
      width: 100%;
      text-align: center;
      order: 2; 
  }

  .left-side h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    word-wrap: break-word;
}

  .left-side h2 {
    font-size: 1.8rem;
  }
  
  .left-side p {
    font-size: 1.3rem;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .right-side {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .right-side img {
    width: 15rem;
    height: auto;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .buttons {
    align-items: center;
    justify-content: center;
}

  /* .buttons li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
  } */

  .footer {
    gap: 0.8rem;
    margin-top: 2rem;
  }
  footer h2 {
    font-size: 1.6rem;
  }
  footer p {
    font-size: 1rem;
  }

  .feature-section {
    margin-top: 3rem;
  }

  .feature {
    margin-bottom: 1.8rem;
  }
  .feature-container {
    margin-top: 1.8rem;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
  .feature-item .img-left,
  .feature-item .img-right {
      display: block;
      max-width: 70%;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1.5rem;
  }

  .feature-item .img-left {
    margin-left: 0;
  }

  .text,
  .right-text {
      padding: 0 20px;
      text-align: center;
      order: 1;
  }

  .feature-item .text h2,
  .feature-item .right-text h2 {
      margin-top: 0;
      margin-bottom: 2px;
      font-size: 1.6rem;
      text-align: center;
  }

  .feature-item .text p,
  .feature-item .right-text p {
      margin-bottom: 0;
      font-size: 1.2rem;
      text-align: center;
  }
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: content-box;
  }

  body {
    font-size: 14px;
    color: #613469;
    background-color: white;
}
  .bar {
    width: 25px;
    height: 3px;
    background-color: #613469;
    margin: 5px 0;
    transition: 0.4s;
  }

  .navbar {
    padding-left: 2.5rem;
  }
  .menu-icon {
    display: block;
    margin-right: auto;
  }

  .company-logo {
    display: none;
  }

  .menu-icon {
    display: block;
}

  .navbar-links {
    display: none;
    position: fixed;
    top: 0;
    left: -50%;
    background-color: #fff;
    height: 100%;
    width: 35%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
  }

  .navbar {
    padding-left: 0;
  }

  /* Styles for navbar links */
  .navbar-links a {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .navbar-links.show li {
    margin: 0;
  }
  .navbar-links.show {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

  /* Rotate bar elements for animation */
  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6.5px, 5px);
}

  .change .bar:nth-child(2) {
      opacity: 0;
  }

  .change .bar:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -5px);
  }

  h1 {
    font-size: 0.5rem;
  }

  p {
    font-size: 1rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

  .count-container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .left-side {
      width: 100%;
      text-align: center;
      order: 2; 
  }

  .left-side h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    word-wrap: break-word;
}

  .left-side h2 {
    font-size: 1.3rem;
  }
  
  .left-side p {
    font-size: 1rem;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .right-side {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .right-side img {
    width: 10rem;
    height: auto;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
}

  .buttons li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
  }

  .footer {
    gap: 0.8rem;
    margin-top: 2rem;
  }
  footer h2 {
    font-size: 1.2rem;
  }
  footer p {
    font-size: 0.9rem;
  }

  .feature-section {
    margin-top: 3rem;
  }

  .feature {
    margin-bottom: 1.8rem;
  }
  .feature-container {
    margin-top: 1.8rem;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
  .feature-item .img-left,
  .feature-item .img-right {
      display: block;
      max-width: 70%;
      height: auto;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1.5rem;
  }

  .feature-item .img-left {
    margin-left: 0;
  }

  .text,
  .right-text {
      padding: 0 20px;
      text-align: center;
      order: 1;
  }

  .feature-item .text h2,
  .feature-item .right-text h2 {
      margin-top: 0;
      margin-bottom: 2px;
      font-size: 1.3rem;
      text-align: center;
  }

  .feature-item .text p,
  .feature-item .right-text p {
      margin-bottom: 0;
      font-size: 1rem;
      text-align: center;
  }
}